body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif; 
    color: #ffffff;
}

img {
   display: block; 
width: 150px; 
margin-left: auto; 
margin-right: 50%; 
}




.content {
width: 300px;     
margin: 0 auto;

    }

